@import url('http://fonts.cdnfonts.com/css/harry-potter');

* {
    box-sizing: border-box;
    text-align: center;
}

.inactive {
    display: none;
}

body {
    background-image: url(bodyBackground.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Harry Potter', sans-serif;
    color: white;
    letter-spacing: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}


h1 {
    text-align: center;
    line-height: 1.6;
    background-image: linear-gradient(rgb(212, 212, 212), rgb(231, 5, 5));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

h2 {
    color: rgb(231, 5, 5);
    background-color: rgba(5, 1, 20, 0.5);
    padding: 1vh;
}

.inactive {
    display: none;
}

main {
    background-image: url(boardBackground.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex; 
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    align-content: flex-start;
    height: 58.5vh;
    width: 58.5vh;
}


.tile {
    border: 1px black solid;
    height: 4.5vh;
    width: 4.5vh;
}

.tile:nth-child(2n) {
    background-color: rgba(33, 14, 104, 0.30);
}

.tile:nth-child(2n + 1) {
    background-color: rgba(58, 43, 112, 0.30);
}

.snake {
    background-image: url(SnapeFace.jpeg);
    background-size: 120%;
    background-position: right;
    background-repeat: no-repeat;
    /* border-radius: 50%; */
    height: 4.5vh;
    width: 4.5vh;
}


.food {
    background-image: url(potion.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    filter: invert(1);
    height: 4.5vh;
    width: 4.5vh;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    font-family: 'Harry Potter', sans-serif;
    color: white;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    background-color: rgba(58, 43, 112, 1);
    padding: 1vh;
    margin: 1vh;
}