* {
    box-sizing: border-box;
    background-color: oldlace;
}

main {
    display: flex; 
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    align-content: flex-start;
    /* border: black 1px solid; */
    height: 60vh;
    width: 60vh;
}

.tile {
    border: 1px black solid;
    height: 4.5vh;
    width: 4.5vh;
}

.tile:nth-child(2n) {
    background-color: rgba(33, 14, 104, 0.61);
}

.tile:nth-child(2n + 1) {
    background-color: rgba(58, 43, 112, 0.61);
}

.snake {
    background-image: url(SnapeFace.jpeg);
    background-size: 120%;
    background-position: right;
    background-repeat: no-repeat;
    /* border-radius: 50%; */
    height: 4.5vh;
    width: 4.5vh;
}


.food {
    background-image: url(Potion.jpeg);
    background-size: 100%;
    filter: invert(1);
    height: 4.5vh;
    width: 4.5vh;
}

BUTTON {
    background-color: rgba(9, 119, 42, 0.61);
    padding: 2vh;
    margin: 2vh;
}